*{
    margin: 0;
    padding: 0;
}
.homeback{
    height: 100vh;
    width: 100%;
    background-image: url("./image/pexels-photo-1711323\ \(1\).webp");
    background-size: 100% 100%;
}
.heading{
    text-align: center;
    color: white;
    padding-top: 5px;
}
.logingform {
    height: 40vh;
    width: 40vh;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: aquamarine;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 40%;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signi {
    height: 40px;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: transparent;
    border: none;
    font-family: sans-serif;
    font-size: larger;

}

.signu {
    height: 40px;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: transparent;
    border: none;
    font-family: sans-serif;
    font-size: larger;

}

.signi:hover {
    border-radius: 10px;
    border: none;
    transition-duration: 0.5s;
}

.signu:hover {
    transition-duration: 0.1s;
    border-radius: 10px;
    background-size: 100% 100%;
    border: none;
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url("./image/pexels-photo-1711323\ \(1\).webp");
    background-size: 100% 100%;
    padding: 2px;
}
.forms {
    height: 70vh;
    width: 50vh;
    display: flex;
    margin-top: 80px;
    margin-left: 500px;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.main2{
    height: 100vh;
    width: 100%;
    background-image: url("./image/pexels-photo-1711323.webp");
    background-size: 100% 100%;
    padding: 2px;
}
h2{
    color: white;
}
.dashboard{
    height: 100vh;
    width: 100%;
    color: brown;
}
.dashh1{
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 40% ;


}
.popup-box{
    background-color: darkcyan;
    opacity: 85%;
}


